
/* -------------------------------OTHERS------------------------------- */

h1, h2, p {
    margin: 0;
    font-family: 'Inter', sans-serif;
}


p {
    font-weight: 400;
    padding: 0;
    font-size: 16px;
    color: rgba(60, 60, 67, 0.85);
    overflow-wrap: anywhere;
}

/* -------------------------------BODY------------------------------- */

.main {
  display: flex;
  justify-content: center;
}


.container {
  max-width: 1440px;
  box-sizing: content-box;
  padding: 0 15px;
	margin: 0 auto;
}

.content {
  display: flex;
  justify-content: center;
  padding: 64px 130px;
}

/* -------------------------------ASIDE------------------------------- */

.aside {
  margin-right: 46px;
  flex: 0 1 50%;
}

.aside__image {
  width: 100%;
}

/* -------------------------------FAQ------------------------------- */

.FAQ {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.FAQ__section-firstchild {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 3px solid rgba(215, 222, 240, 1);
    margin: 0;
    padding-bottom: 40px;
}

.FAQ__dropbtn {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
  }

  .FAQ__title {
    padding-right: 15px;
  }

  .FAQ__dropbtn h2 {
    padding-right: 15px;
  }

  .FAQ__section {
    border-bottom: 3px solid rgba(215, 222, 240, 1);
    margin: 0;
    
  }

   @media (any-hover: hover) {
    .FAQ__dropbtn:hover {
      background-color: rgb(235, 246, 255);
    }
  } 


  .FAQ__section p {
    padding-bottom: 24px;
  }
  
  .FAQ__icon {
    transform: rotate(134deg);
    transition: 0.5s;
    width: 24px;
    height: 24px;
  }

  .FAQ__icon-rotate {
    transform: rotate(0deg);
  }


  .dropdown-content {
    display: none;
  }
  
  .show {
    display: flex;
  }


/* -------------------------------MEDIA------------------------------- */

  @media (max-width: 1024px) {
    .content {
      padding: 48px 24px;
    }
    .aside {
      margin-right: 24px;
    }
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      padding: 32px 16px;
    }
    .aside {
      margin-right: 0;
      margin-bottom: 32px;
    }
  }
  

  

